node_modules/
.next/
.env
.env.local
.env*.local
.DS_Store
*.log
.vercel
next-env.d.ts

# test output
/playwright-report
/test-results
/coverage

# TypeScript incremental build cache
tsconfig.tsbuildinfo
*.tsbuildinfo
